/***** LEFT SIDE ANIMATIONS ********/

div.appAnimation {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile1.png');
    background-position: right top;
    position: relative;
    float: left;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 4s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 4s linear 1s infinite;
}

div.appAnimation2 {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile2.png');
    background-position: right top;
    position: relative;
    margin: 1px;
    float: left;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 6s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 6s linear 1s infinite;
}

div.appAnimation3 {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile3.png');
    background-position: right bottom;
    position: relative;
    margin: 1px;
    float: left;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 8s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 8s linear 1s infinite;
}
div.appAnimation7 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile1.png');
    background-position: right top;
    position: relative;
    float: left;
    margin: 1px;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 2s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 2s linear 1s infinite;
}

div.appAnimation8 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile2.png');
    background-position: right top;
    position: relative;
    margin: 1px;
    float: left;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 5s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 5s linear 1s infinite;
}

div.appAnimation9 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile3.png');
    background-position: right bottom;
    position: relative;
    margin: 1px;
    float: left;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 7s linear 1s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 7s linear 1s infinite;
}


/***** RIGHT SIDE ANIMATIONS ********/
div.appAnimation4 {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile1.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 4s linear 1s infinite;
    animation: myfirst 4s linear 1s infinite;
}
div.appAnimation5 {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile2.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 6s linear 1s infinite;
    animation: myfirst 6s linear 1s infinite;
}
div.appAnimation6 {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGES/tile3.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 8px;
    z-index: 200;
    -webkit-animation: myfirst 8s linear 1s infinite;
    animation: myfirst 8s linear 1s infinite;
}
div.appAnimation10 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile1.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 2s linear 1s infinite;
    animation: myfirst 2s linear 1s infinite;
}
div.appAnimation11 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile2.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 5s linear 1s infinite;
    animation: myfirst 5s linear 1s infinite;
}
div.appAnimation12 {
    width: 10px;
    height: 10px;
    background-image: url('../IMAGES/tile3.png');
    background-position: left bottom;
    position: relative;
    margin: 1px;
    float: right;
    border-radius: 6px;
    z-index: 100;
    -webkit-animation: myfirst 7s linear 1s infinite;
    animation: myfirst 7s linear 1s infinite;
}

/******** INCREASE OR DECREASE THE RATE THE OBJECT MOVES UP, DOWN, LEFT, RIGHT *******/
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background-color:purple; left:0px; top:-100px; }
    25%  {background-color:orange; left:0px; top:-300px;}
    50%  {background-color:green; left:0px; top:-500px;}
    75%  {background-color:white; left:0px; top:-900px;}
    100% {background-color:black; left:0px; top:-1300px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background-color:purple; left:0px; top:-100px;}
    25%  {background-color:orange; left:0px; top:-300px;}
    50%  {background-color:green; left:0px; top:-500px;}
    75%  {background-color:white; left:0px; top:-900px;}
    100% {background-color:black; left:0px; top:-1300px;}
}
