section.tiles {
	width: auto;
	margin-bottom: 150px;
	margin-top: 10px;
}

 section.tiles ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

section.tiles li {
    display: inline;
    float: left;
}

section.tiles a {
    display: block;
}

	
section.tiles img {
	width: 100px;
	height: 100px;
	margin: 5% auto 0 auto;
	padding: 0 26% 0 40%;
	}
	
section.tiles img:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	}
